extends layout

block content
    header.bg-primary
        h1 user.name 
    div.container        
        #ask
            form(role='form')
                .form-group
                    label(for='nameField') Name:
                    input#nameField.form-control(type='text', name='nameField', placeholder='Name:')
                .form-group
                    label(for='exampleInputPassword1') Question:
                    input#questionField.form-control(type='text', placeholder='Question')
                input#submitQuestion.btn.btn-primary(type='submit' value="Ask!")
    footer
        img(src="/images/imd.svg")