extends layout

block content
	header.bg-primary
			h1 IMDWall
	div.container
		ul.home
			li
				a.ask(href='ask') Ask something
			li
				a.ask(href='questions') See all the questions
	footer
		img(src="/images/imd.svg")