extends layout

block content
	header.bg-primary
			h1 IMDWall
	div.container
		ul.home
			li
				a(href="ask" .ask) Ask something
			li
				a(href='questions' .ask) See all the questions
	footer
		img(src="/images/imd.svg")